<header class="w=full bg-slate-700 text-white m-0">
  <div class="p-4 text-2xl">
    FuzzyChat
    <div class="float-right">
      <Heroicons.LiveView.icon name="user-circle" type="solid" class="h-6 w-6" />
    </div>
  </div>
</header>
<main>
  <div>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
